<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <div class="card">
    <h1>Login</h1>

        <div class="card-body">
           
                <div class="form-group">
                  <label for="usernameInput">Username</label>
                  <input type="text" #u1 class="form-control" id="usernameInput" aria-describedby="username">
                </div>
                <div class="form-group">
                  <label for="passwordInput">Password</label>
                  <input type="password" #p2 class="form-control" id="passwordInput">
                </div>
                
                <button type="submit" (click)="check(u1.value, p2.value)" class="btn btn-primary button">Submit</button>
                <span>{{ msg }}</span>
            
              
        </div>
      </div>
</body>
</html>