      <div class="col-md-6 offset-md-3 mt-5">
        <div class="alert alert-info">
            Username: test@gmail.com<br />
            Password: Test@123
        </div>
        <div class="card">
            <h2 class="card-header text-center">LOGIN</h2>
            <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="email_mobile">Enter Email Address/ Mobile Number:</label>
                        <input type="text" formControlName="email_mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email_mobile.errors }" />
                        <div *ngIf="submitted && f.email_mobile.errors" class="invalid-feedback">
                            <div *ngIf="f.email_mobile.errors.required">Email address or mobile number is required</div>
                            <span class="text-danger" *ngIf="loginForm.controls['email_mobile'].hasError('pattern') && (loginForm.controls['email_mobile'].dirty || loginForm.controls['email_mobile'].touched)">Please enter valid email address or phone number</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <button [disabled]="loading" class="btn btn-primary mt-3 w-100">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>

                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

                   <div class="text-center mt-4">
                    <h4>Not a Member? <a href="#" routerLink="/register">Register Here.</a></h4>
                   </div>
                </form>
            </div>
        </div>
    </div>
    
